@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

p {
    margin: 5px 0;
    font-size: 1.15em;
}

body {
    background-color: #131313;
    font-size: 16px;
    line-height: 1.5em;
}

section {
    padding: 30px;
}

input {
    color: #131313;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: .3s;
    font-size: 1.1em;
}

input:focus {
    box-shadow: 0px 0px 4px 1px rgb(0 255 179);
    outline: 1px solid rgb(0, 255, 179);
    border: none;
}

.logo {
    font: normal 400 6em 'Unica One', monospace;
}

.no-order {
    list-style-type: none;
}

.container {
    margin: auto;
    max-width: 800px;
}