@charset "utf-8";

.card-box {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    padding: 25px;
    border-radius: 30px 5px;
}

.card-box .title {
    font-size: 1.6em;
    margin-bottom: 10px;
}


.card-box.-purple {
    background-color: #611DF2;
}

.card-box.-yellow {
    background-color: #F2B90C;
}

.card-box.-pink {
    background-color: #F2226E;
}

.card-box.-grow {
    flex-grow: 1;
}