@charset "utf-8";

.container-cards {
    display: flex;
    margin: auto;
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-card {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 25px;
    border-radius: 30px 5px;
}

.card:nth-child(1){
    background-color: #611DF2;
}

.card:nth-child(2){
    background-color: #F2B90C;
}

.card:nth-child(3) {
    background-color: #F2226E;
    flex-grow: 1;
}

.card::before {
    content: '';
    border: 20px black;
}